<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tgkzxy.mapper.LogsMapper">
    <insert id="addLog" parameterType="cn.tgkzxy.pojo.Logs">
        insert into logs (time,ip,action)
        values (#{time},#{ip},#{action})
    </insert>
    <select id="queryAll" resultType="cn.tgkzxy.pojo.Logs">
        select * from logs;
    </select>
    <select id="queryByLimit" resultType="cn.tgkzxy.pojo.Logs">
        select * from logs limit #{startIndex},#{pageSize}
    </select>
</mapper>